@model UthTripProject.Models.TripViewModel
@{
    ViewBag.Title = "TripDetail";
    <head>
        <meta charset="utf-8">
        <title>site</title>
        <link rel="stylesheet" href="css\createTrip.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="~/Views/photoes/logo2.png" width="30" height="30" alt="">
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <p>@Session["Username"]</p>
                        </li>
                        <li class="nav-item">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a class="nav-link" href="/Home/StartPage">
                                Головна
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/MyTrips">
                                Мої подорожі
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/Trip/Create">
                                Створити
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>

        <div class="container ">
            <canvas class="background"></canvas>

            <div class="card bg-light ">
                <article class="card-body mx-auto" style="max-width: 600px;">
                    <div class="col-md-offset-2 col-md-2">
                        <label class="label-danger">@ViewBag.ErrorMessage</label>
                    </div>
                    <h4 class="card-title mt-3 text-center">@Html.DisplayFor(modelItem => modelItem.Trip_Title)</h4>

                    <div class="row">
                        <div class="col-md-8">
                            @Html.DisplayFor(modelItem => modelItem.Description)
                        </div>
                        @*<img src="C:\Users\Andriy\Documents\UthTrip\UthTripProject\Views\photoes\logo2.jfif" width="30" height="30" alt="">*@
                        <div class="col-md-8">
                            <h2>@Html.DisplayFor(modelItem => modelItem.Price) ₴ </h2>
                        </div>
                        <div class="col-md-8">
                            @Html.DisplayFor(modelItem => modelItem.Start_date)
                            <br>
                            @Html.DisplayFor(modelItem => modelItem.End_date)
                        </div>
                        <div class="col-md-8">
                            <h2>@Html.DisplayFor(modelItem => modelItem.Country) </h2>
                        </div>
                        <div class="col-md-8">
                            <h2>@Html.DisplayFor(modelItem => modelItem.City) </h2>
                        </div>

                        @using (Html.BeginForm("ChooseTrip", "ChooseTrip", FormMethod.Get, new { @class = "form-horizontal" }))
                        {
                            <div class="col-md-2" id="btext">
                                @Html.TextBox("trip_id", Model.Trip_ID.ToString(), new { @class = "form-control" })
                                <input type="submit" value="Обрати" class="btn" id="hello-btn" />
                            </div>
                        }
                        @*<asp:LinkButton ID="LinkButton1"
            Text='<%#Eval("Likes")%>'
            CommandArgument='<%#Eval("@Model.Trip_ID")%>'
            OnCommand="ChooseTrip"
            CssClass="icon fa-heart"
            runat="server" />*@
                        @*<div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Обрати", "../ChooseTripController/ChooseTrip", new { id = Model.Trip_ID }, new { @class = "button-a" })
            </div>*@
                        @*<input type="button" title="Add" value="Більше" onclick="location.href='@Url.Action("ChooseTrip", "ChooseTrip", new { id = Model.Trip_ID })'" />*@
                    </div>
                </article>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>

    </body>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/background")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/tripDetail.css")
    @Styles.Render("~/Content/css")
}
