@model UthTripProject.Models.TripViewModel
@{

    ViewBag.Title = "TripDetail";
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">uthTRIP</a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" style="float:right">
                            <a class="fa fa-user fa-lg" aria-hidden="true"> @Session["Username"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/StartPage">
                                Головна
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/Home/MyTrips" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Мої подорожі
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/Home/MyTrips">Обрані</a>
                                <a class="dropdown-item" href="/Home/Created">Створені</a>
                            </div>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Trip/Create">
                                Створити
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../User/Logout">
                                Вийти
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        <div class="container">
            <canvas class="background"></canvas>

            <div class="card bg-light " id="tripDetail">
                <article class="card-body mx-auto" style="max-width: 600px;">
                    
                    <h4 class="card-title mt-3 text-center">@Html.DisplayFor(modelItem => modelItem.Trip_Title)</h4>

                    <div class="row">
                        <div class="col-md-12  text-center">
                            <h4> @Html.DisplayFor(modelItem => modelItem.Description)</h4>
                        </div>
                        <div class="col-md-8">
                            <h3> Вартість: @Html.DisplayFor(modelItem => modelItem.Price) ₴ </h3>
                            <br />
                        </div>
                        <div class="col-md-9"> 
                            
                          <p>Дні поїздки: @Html.DisplayFor(modelItem => modelItem.Start_date) - 
                            @Html.DisplayFor(modelItem => modelItem.End_date) </p>
                        </div>
                        <div class="col-md-4">
                            <h3>@Html.DisplayFor(modelItem => modelItem.Country)</h3>
                        </div>
                        <h2>-</h2>
                        <div class="col-md-5">
                            <h3>@Html.DisplayFor(modelItem => modelItem.City) </h3>
                        </div>
                        <div class="col-md-8">
                            <h4>Кількіть вільних місць: @ViewBag.freePlaces</h4>
                        </div>
                        <p> Користувачі, які вже підписались на подорож:</p>
                        <div class="col-md-8">
                            @foreach (var i in ViewBag.Subscribers_user)
                            {
                                string name = (string)i.Value;
                                int user_id = (int)i.Key;
                                @Html.ActionLink(name, "../User/UserProfile", new { id = user_id })
                            }
                        </div>

                        @if (Model.Creator_ID != int.Parse(Session["User_ID"].ToString()))
                        {
                            using (Html.BeginForm("ChooseTrip", "ChooseTrip", FormMethod.Get, new { @class = "form-horizontal" }))
                            {
                               
                                    @Html.TextBox("trip_id", Model.Trip_ID.ToString(), new { @class = "form-control", @style = "display: none" })
                                    <input type ="submit" value="Підписатись на подорож" class="btn" id="trip-btn" style="display: inline-block; padding: 0.3em 1.2em; margin: 10px 3px 0.3em 30px;
                                       border-radius: 2em; box-sizing: border-box; text-decoration: none; font-weight: 300; color: #FFFFFF; background-color: #439fd5; text-align: center; transition: all 0.2s;" />
                                
                            }
                        }
                    </div>
                    <div class="col-md-offset-2 col-md-2">
                        <label class="label-danger">@ViewBag.ErrorMessage</label>
                    </div>
                </article>
            </div>
        </div>


                    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>

                </body>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/background")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/tripDetail.css")
    @Styles.Render("~/Content/css")
}
