@model IEnumerable<UthTripProject.Models.UserBlockedModel>

@{
    ViewBag.Title = "AllUsers";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <section id="nav-bar" >
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">uthTRIP</a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="float:right">
                        <a class="fa fa-user fa-lg" aria-hidden="true"> @Session["Username"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/StartPage">
                            Головна
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="/Home/MyTrips" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Мої подорожі
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Home/MyTrips">Обрані</a>
                            <a class="dropdown-item" href="/Home/Created">Створені</a>
                        </div>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Trip/Create">
                            Створити
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../User/Logout">
                            Вийти
                        </a>
                    </li>
                    @if (Session["isAdmin"] != null)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="">
                                Користувачі
                            </a>
                            <span class="sr-only">(current)</span>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </section>
    
    <div class="container bg-light" style="border-radius:18px; width:1000px; margin-top: 40px">
        <canvas class="background"></canvas>
        <table class="table"> 
           <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.User_ID)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.First_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo_Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Info)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isBlocked)
                </th>
                </tr>

            @foreach (var item in Model)
            {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.User_ID)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo_Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    @if (item.isBlocked == true)
                    {
                        @Html.ActionLink("Unblock", "Unblock", new { id=item.User_ID})

                    }
                    else
                    {
                        @Html.ActionLink("Block", "Block", new { id = item.User_ID })
                    }
                </td>
            </tr>
            }

        </table>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    </div>
</body>

@section Scripts {

    @Scripts.Render("~/bundles/background")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/myTrips.css")
    @Styles.Render("~/Content/css")
}

