@model UthTrip.BLL.DTO.UserDTO
@{
    ViewBag.Title = "UserProfile";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">uthTRIP</a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="float:right">
                        <a class="fa fa-user fa-lg" aria-hidden="true"> @Session["Username"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/StartPage">
                            Головна
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/Home/MyTrips" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Мої подорожі
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Home/MyTrips">Обрані</a>
                            <a class="dropdown-item" href="/Home/Created">Створені</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Trip/Create">
                            Створити
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/User/Logout">
                            Вийти
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div class="container bg-light" style="border-radius:18px; width:500px; margin-top: 40px; padding: 20px">

        <canvas class="background"></canvas>
        <div>
            <dl class="dl-horizontal">

                <dt>
                    <a>Ім'я: </a>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.First_Name)
                </dd>

                <dt>
                    <a>Прізвище: </a>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Last_Name)
                </dd>

                <dt>
                    <a>Пошта: </a>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    <a>Ім'я користувача: </a>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    <a>Дата народження: </a>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Birthday)
                </dd>

                <dt>
                    <a>Інформація: </a>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Info)
                </dd>

            </dl>
            @if (ViewBag.Reviews != null)
            {
                <h4>Відгуки на подорожі, створені користувачем:</h4>
                foreach (var review in ViewBag.Reviews)
                {
                    <li>@review</li>
                }
            }

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
   
</body>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/background")
            @Scripts.Render("~/bundles/bootstrap")
            @Styles.Render("~/Content/tripDetail.css")
            @Styles.Render("~/Content/css")
        }
    

