@model IEnumerable<UthTripProject.Models.TripViewModel>
@{
    ViewBag.Title = "My trips";
}

<head>
    <meta charset="utf-8">
    <title>site</title>
    <link rel="stylesheet" href="css\createTrip.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="~/Views/photoes/logo2.png" width="30" height="30" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <p>@Session["Username"]</p>
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/StartPage">
                            Головна
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            Мої подорожі
                        </a>
                        <span class="sr-only">(current)</span>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Trip/Create">
                            Створити
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/User/Logout">
                            Вийти
                        </a>
                      
                    </li>
                </ul>
            </div>
        </nav>
    </section>
        <p>Тут відображаються обрані мною подорожі</p>
        @Html.ActionLink("Переглянути створені мною подорожі", "Created")
    <hr>
    <div class="container">
        <canvas class="background"></canvas>
        @foreach (var item in Model)
        {
            <div id="row-wrapper">
                <div class="row" id="row">
                    <div class="col-md-2" id="tripText">
                        @Html.DisplayFor(modelItem => item.Trip_Title)
                    </div>
                    <div class="col-md-5" id="tripText">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div class="col-md-2" id="tripText">
                        <h2 id="price">@Html.DisplayFor(modelItem => item.Price) ₴ </h2>
                    </div>
                    <div class="col-md-1" id="tripTextDate">
                        @Html.DisplayFor(modelItem => item.Start_date)
                        <br>
                        @Html.DisplayFor(modelItem => item.End_date)
                    </div>
                    <div class="col-md-2" id="tripTextButton">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Деталі", "../TripDetail/TripDetail", new { id = item.Trip_ID }, new { @class = "button-a" })
                            </div>
                            <div class="col-md-offset-2 col-md-10">
                                @if (item.End_date < DateTime.Now)
                                {
                                    @Html.ActionLink("Відгук", "../Review/WriteReview", new { id = item.Trip_ID }, new { @class = "button-a" })
                                }
                            </div>

                        </div>
                        </div>
                </div>
            </div>
        }
        <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    </div>
    
    <div class="box">
        <div class="container">
          @foreach (var item in Model)
          {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fa fa-globe fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            @Html.DisplayFor(modelItem => item.Trip_Title)
                        </div>

                        <div class="text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>

                        <a>@Html.ActionLink("Деталі", "../TripDetail/TripDetail", new { id = item.Trip_ID }, new { @class = "button-a" })</a>

                    </div>
                </div>
           }
        </div>
    </div>
</body>


@section Scripts {
    @Scripts.Render("~/bundles/background")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/home.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/myTrips.css")


}
