@model IEnumerable<UthTripProject.Models.TripViewModel>
@{
    ViewBag.Title = "My trips";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">uthTRIP</a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="float:right">
                        <a class="fa fa-user fa-lg" aria-hidden="true"> @Session["Username"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/StartPage">
                            Головна
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="/Home/MyTrips" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Мої подорожі
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item active" href="/Home/MyTrips">Обрані</a>
                            <a class="dropdown-item" href="/Home/Created">Створені</a>
                        </div>
                        <span class="sr-only">(current)</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Trip/Create">
                            Створити
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../User/Logout">
                            Вийти
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

        <div class="card_top bg-light ">
            <h3>Тут відображаються подорожі, які Ви обрали</h3>
         @*   @Html.ActionLink("Переглянути створені Вами подорожі", "Created")*@
        </div>
    <div class="box">
        <canvas class="background"></canvas>

        <div class="container">
          @foreach (var item in Model)
          {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fa fa-globe fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            @Html.DisplayFor(modelItem => item.Trip_Title)
                        </div>

                        <div class="text">
                            @Html.DisplayFor(modelItem => item.Description)
                        <p class="text">
                            @Html.DisplayFor(modelItem => item.Start_date) -
                            @Html.DisplayFor(modelItem => item.End_date)
                        </p>
                        <h4 id="price">@Html.DisplayFor(modelItem => item.Price) ₴ </h4>
                        </div>

                        <a>@Html.ActionLink("Деталі", "../TripDetail/TripDetail", new { id = item.Trip_ID }, new { @class = "card-link" })</a>
                       
                            @if (item.End_date < DateTime.Now)
                            {
                                @Html.ActionLink("Відгук", "../Review/WriteReview", new { id = item.Trip_ID }, new { @class = "card-link" })
                            }
                       

                    </div>
                </div>
           }
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    </div>
</body>


@section Scripts {
    @Scripts.Render("~/bundles/background")
    @Styles.Render("~/Content/myTrips.css")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")


}
