@model IEnumerable<uthTripProject.Models.TripViewModel>
@{
                ViewBag.Title = "uthTrip";
}

<h2>Доступні подорожі</h2>
<div>
    @Html.ActionLink("Створити нову подорож", "../Trip/Create")
</div>
<hr>
@using (Html.BeginForm("../Home/StartPage", "HomeController", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownList("Country", "Країна")
            </div>
            <div class="col-md-2">
                @Html.DropDownList("City", "Місто")
            </div>
            <div class="col-md-2">
                @Html.TextBox("maxPrice", "Максимальна ціна..", new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.TextBox("maxPeople", "макс. к-ть осіб..", new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Фільтрувати" class="btn-sm btn-info" />
            </div>
        </div>
    </div>
        }
    <hr>

    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Trip_Title)
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="col-md-2">
                    <h2>@Html.DisplayFor(modelItem => item.Price) ₴ </h2>
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Start_date)
                    <br>
                    @Html.DisplayFor(modelItem => item.End_date)
                </div>
                @*
                <td>
                    @Html.DisplayFor(modelItem => item.Number_Of_People)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                *@
                <div class="col-md-1">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*<input type="submit" value="Обрати" class="btn btn-default btn-success" />*@
                            @Html.ActionLink("Обрати", "../TripDetail/TripDetail", new { id=item.Trip_ID})
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

