@model IEnumerable<uthTripProject.Models.TripViewModel>

@{
                /**/

                ViewBag.Title = "uthTrip";
}

<h2>Доступні подорожі</h2>
<div>
    @Html.ActionLink("Створити нову подорож", "../Trip/Create")
</div>
@using (Html.BeginForm("../Home/StartPage", "HomeController", FormMethod.Get, new { @class = "form-horizontal" }))
{
<table class="table">
    <tr>
        <th>
            @Html.DropDownList("Country", "Країна")
            @Html.DropDownList("City", "Місто")
        </th>
        <th>
            @Html.TextBox("maxPrice", "Максимальна ціна..", new { @class = "form-control" })
            @Html.TextBox("maxPeople", "макс. к-ть осіб..", new { @class = "form-control" })
        </th>
        <th>
            <input type="submit" value="Фільтрувати" class="btn  btn-info" />
        </th>
    </tr>
 </table>
    }


    <table class="table">
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.Trip_Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>

                <th>
                    <p>Date</p>
                </th>
                <th></th>
            </tr>*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip_Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <h2>@Html.DisplayFor(modelItem => item.Price) ₴ </h2>

                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Date_ID)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.Start_date)
                    <p></p>
                    @Html.DisplayFor(modelItem => item.End_date)
                </td>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.Number_Of_People)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Is_Abroad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creator_ID)
                    </td>*@
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Обрати" class="btn btn-default btn-success" />
                        </div>
                    </div>

                </td>
            </tr>
        }


    </table>

