@model IEnumerable<uthTrip.BLL.DTO.TripDTO>

@{
    ViewBag.Title = "StartPage";
}

<h2>Main Page</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trip_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Date_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_Of_People)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Abroad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator_ID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trip_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <h2>@Html.DisplayFor(modelItem => item.Price) ₴ </h2>
            
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Date_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Of_People)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Abroad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator_ID)
        </td>*@
        <td>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Select" class="btn btn-default btn-success" />
                </div>
            </div>

        </td>
    </tr>
}

</table>
